.wp-block-uagb-price-table {
	font-family: ProximaNova-Regular, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-size: 1rem;
	line-height: 1.62;
	background-color: transparent;
	background-image: linear-gradient(180deg, #18edf3 0%, #01b6bc 100%);
	box-shadow: 0px 0px 6px 0px rgb(81 36 179 / 22%);
	border-radius: 20px;
	display: inline-block;
	vertical-align: middle;
}

.wp-block-uagb-price-table-header {
	text-align: center;
	padding: 43px 20px 3px 20px;
}

.wp-block-uagb-price-table-header-icon {
	margin: 0 auto;
	padding: 21px 21px 21px 21px;
	background: #ffffff47;
	width: 64px;
	height: 64px;
}

.wp-block-uagb-price-table-header-icon svg {
	box-sizing: border-box;
	fill: #ffffff;
	width: 20px;
	height: 20px;
}

h4.wp-block-uagb-price-table-heading {
	color: #ffffff!important;
	font-family: "Montserrat", Sans-serif!important;
	font-size: 25px!important;
	font-weight: 700!important;
	text-transform: uppercase!important;
	line-height: 2.8em!important;
	letter-spacing: 0.9px!important;
	margin: 0;
	padding: 0;
}

.wp-block-uagb-price-table-subheading-text {
	box-sizing: border-box;
}

.wp-block-uagb-price-table-subheading {
	font-family: ProximaNova-Regular, Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #ffffff;
	margin: 0 0 1.6em 0;
	line-height: 29px;
	font-size: 18px!important;
}

ul.wp-block-uagb-price-table-feature-list {
	padding: 0px 0px 0px 0px;
	color: #ffffff;
	text-align: center;
	list-style-type: none;
	margin: 0 10px 0 0!important;
	padding: 0!important;
	line-height: 1;
	font-size: 1em;
}

.wp-block-uagb-price-table-feature-content {
	display: inline-flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	padding: 11px 50px 11px 50px;
	cursor: pointer;
}

.wp-block-uagb-price-table-feature-content span {
	border: 0;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

.wp-block-uagb-price-table-feature-list li {
	font-size: 14px;
}

ul.wp-block-uagb-price-table-feature-list li {
	list-style: none;
}

.wp-block-uagb-price-table-feature-list svg {
	margin-right: 5px;
	width: 18px;
	height: 18px;
	fill: #FFFFFF;
}

.wp-block-uagb-price-table-price-wrap {
	display: flex;
	flex-flow: row nowrap;
	padding: 25px 0px 32px 0px;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.wp-block-uagb-price-table-pricing-container {
	line-height: 1em;
	display: inline-block;
	vertical-align: middle;
}

.wp-block-uagb-price-table-pricing-value {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	font-family: "Montserrat", Sans-serif;
}

.wp-block-uagb-price-table-original-price {
	font-size: 16px;
	margin-right: 15px;
	text-decoration: line-through;
	color: #ffffff;
	align-self: center;
}

.wp-block-uagb-price-table-currency-price {
	color: #ffffff;
	font-size: 45px;
	font-weight: 700;
}

.wp-block-uagb-price-table-normal-price {
	color: #ffffff;
	font-size: 45px;
	font-weight: 700;
}

.wp-block-uagb-price-table-cta {
	padding: 25px 7px 43px 7px;
	text-align: center;
}

.wp-block-uagb-price-table-button-link {
	font-size: 14px;
	font-weight: 600;
	color: #000000;
	background-color: #ffffffe6;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2.7px;
	padding: 16px 40px 16px 40px;
	border-color: #000000;
	border-style: none;
	border-radius: 50px 50px 50px 50px;
	cursor: pointer;
	transition: box-shadow 0.2s linear;
}

.wp-block-uagb-price-table-button-link:hover {
	box-shadow: 0 3px 10px 1px #f1f1f1;
}
